<div class="post-signature">
  <div class="post-signature__prepend">
    <img
      class="post-signature-prepend__picture"
      alt="post-signature-picture"
      src="/assets/img/signatures/sylve.jpg"
    />
  </div>
  <div class="post-signature__body">
    <div class="post-signature-body__title">Written by</div>
    <div class="post-signature-body__name">Sylve Chevet</div>
    <div class="post-signature-body__desc">
      Ledger Vault Product Manager
      -
      <a target="_blank" rel="noreferrer" rel="noopener" href="https://fr.linkedin.com/in/sylve-chevet-692443a0/">
        Learn more
      </a>
    </div>
  </div>
</div>
