<div class="post-signature">
  <div class="post-signature__prepend">
    <img
      class="post-signature-prepend__picture"
      alt="post-signature-picture"
      src="/assets/img/signatures/yacine.jpg"
    />
  </div>
  <div class="post-signature__body">
    <div class="post-signature-body__title">Written by</div>
    <div class="post-signature-body__name">Yacine Badiss</div>
    <div class="post-signature-body__desc">
      Ledger Vault API Lead Engineer
      -
      <a target="_blank" rel="noreferrer" rel="noopener" href="https://www.linkedin.com/in/yacine-badiss-38773259/">
        Learn more
      </a>
    </div>
  </div>
</div>
